pom.xml
pom.xml.asc
*.jar
*.class
/lib
/classes
/target
/checkouts
/log
/.env
/.lein-*
/.nrepl-port
/.prepl-port
profiles.clj
.cpcache/
.calva/
.clj-kondo/
.lsp/
.settings
.project
.classpath

native/